# Ignore config files with secrets
NetworkMonitor/src/main/resources/configs/config.properties

# Ignore IDE-specific files
.idea/
*.iml

# Ignore compiled Java files
*.class

# Ignore log files
*.log
